<% if @user.errors.any? %>
  <div id="error_display">
  	<div class="alert alert-error">
  	  The form contains <%= pluralize(@user.errors.count, "error") %>.
  	</div>
  	<ul>
  	  <% @user.errors.full_messages.each do |m| %>
  	    <li><%= m %></li>
  	  <% end %>
    </ul>
  </div>
<% end %>